@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ebebeb;
    height: 100%;
    width: 100%;
}

header{
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: #ebebebe0;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: #1d1d1dad;
    margin-left: 10px;
    font-weight: 400;
}

a:hover{
    color: #1d1d1d;
}

footer{
    background: linear-gradient(to right,#e0e1ce, #d3d3d3);
}

#footer_itens{
    display: flex;
    justify-content: space-between;
    padding: 8px 8% 24px 8%;
    align-items: center;
}

span{
    color: #1d1d1d;
    font-weight: 400;
}

#info{
    display: flex;
    flex-direction: column;
}